body{
    background-image: url("./Assets/gund.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 500px) {
    body{
        background-image: url("./Assets/thin.jpeg");
    } 
}
@media screen and (min-width: 1000px) {
    body{
        background-image: url("./Assets/wide.png");
    } 
}